<html>
<head>
    <title>{{title}}</title>
</head>

<h1>PHPixie and Mustache test</h1>
<h2>{{title}}</h2>

<p>Some message: "{{message}}"</p>

<p>Some name: "{{name}}"</p>

<h3>Item list</h3>
<ul>
{{#items}}
    <li>{{ . }}</li>
{{/items}}
</ul>

<hr/>
<p>Current date: <b>{{date}}</b></p>

